*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    height: 100vh;
    background-color: #ff7700;
}

nav{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 3px 5px #44424274;
}

ul li{
    display: inline-block;
    list-style: none;
    padding: 6px 20px;
    font-weight: 400;
    cursor: pointer;
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

ul li:hover{
    background-color: #ff4221a2;
    border-radius: 25px;
    color: #fff;
}

header{
    height: 90%;
    border: solid thin rgb(172, 151, 151);
    display: flex;
    align-items: center;
}

.head{
    width: 50%;
    margin-left: 50px;
}

header h2{
    font-size: 4rem;
    font-weight: 400;
}

.head p{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    font-size: 7rem;
    font-weight: 500;
}
.imagenes .yo{
    position: absolute;
    height: 400px;
    width: 350px;
    bottom: 0;
    right: 5%;
}

.imagenes .logo{
    position: absolute;
    width: 40%;
    height: 65%;
    left: 58%;
    bottom: 0;
}
